h5 a:hover {
    color: #ff324d;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #ff324d;
    transition: all 0.3s ease-in-out;
}

.anime__details__episodes .active {
    background-color: #ff324d;
}

.server_data .btn-server {
    background-color: #ff324d;
    color: aliceblue;
    opacity: 0.3;
}
.server_data .active {
    background-color: #ff324d;
    color: aliceblue;
    opacity: 1;
}
